---
import { Image } from "astro:assets";

const { interventionName, image, id, name, description } = Astro.props;
---

<div
  class="w-full bg-font-color-light rounded-lg p-6 flex flex-col md:flex-row"
>
  <h1>{name}</h1>
  <!-- <figure
    class="w-full md:w-2/5 bg-white rounded-md aspect-square relative overflow-hidden"
  >
    <p
      class="p-2 bg-font-color-light text-septenary rounded-r-md absolute top-4 left-0 right-4"
    >
      {interventionName}
    </p>
    <Image src={image} alt={id} class="w-full h-full object-cover" />
  </figure>
  <div class="w-full md:w-3/5 mt-4 lg:mt-0 md:p-4 flex flex-col">
    <h2 class="font-bold text-2xl text-septenary mb-4">
      {name}
    </h2>
    <p class="font-semibold text-base lg:text-lg">
      {description.slice(0, 150) + " ..."}
    </p>
    <div class="flex flex-col md:flex-row gap-4 text-sm mt-4 lg:mt-8">
      <input
        type="button"
        value="Leer más"
        class="bg-quinary text-white rounded-md font-semibold py-2 px-4 cursor-pointer hover:scale-105 transition-all"
      />
      <input
        type="button"
        value="Ir actuacion urbanistica"
        class="bg-primary text-white rounded-md font-semibold py-2 px-4 cursor-pointer hover:scale-105 transition-all"
      />
    </div>
  </div> -->
</div>
