---
const { data } = Astro.props;
---

<div class="w-full bg-font-color-light rounded-lg p-6 flex flex-col gap-6">
  <figure
    class="w-full bg-white rounded-md aspect-square relative overflow-hidden"
  >
    <p class="p-2 bg-primary text-white rounded-md absolute top-4 left-4">
      {data.hierarchy}
    </p>
    <img
      src={data.image || "logo.avif"}
      alt={data.interventionName}
      class="w-full h-full object-cover"
    />
  </figure>
  <div class="flex-grow flex flex-col gap-2 whitespace-pre-line">
    <h2 class="font-bold text-2xl text-primary">
      {data.interventionName}
    </h2>
    <p>{data.description}</p>
    <div>
      <p class="text-primary font-medium text-lg">Proyecto estrategico</p>
      <p>{data.strategicProject}</p>
    </div>
    <div>
      <p class="text-primary font-medium text-lg">Sistema interno</p>
      <p>{data.internalSystem.systemName}</p>
    </div>
  </div>
  <input
    type="button"
    value="Ir a la ficha tecnica"
    class="bg-primary text-white rounded-md text-lg font-semibold w-full py-2 cursor-pointer hover:bg-secondary transition-all"
  />
</div>
